/* The main style sheet for SPP */

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, "Roboto" , sans-serif;
  transition: all 250ms ease-in-out;
  
}

body {
  background-color: darkgray;
}

.vue-div {
  transition: all 250ms ease-in-out;
}

.full-page-close {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  right: 15px;
  top: 15px;
  z-index: 199;
  opacity: 0;  
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 200ms ease-in-out;
  width: 170px;
  height: 80vh;
  font-size: 12px;
  text-align: center;
  color: white;
}
.full-page-close:hover {
  opacity: 1;
}

.console {
  position: fixed;
  width: 500px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: lightgray;
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}




#consolebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100vh;
  background-color: #647c8c;
  cursor: pointer;
  transition: background-color 200ms ease-in-out
}

#consolebar:hover {
  background-color: #4f738b;
}

.console-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25px;
  height: 25px;
  background-color: lightgray;
  overflow: hidden;
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
  transform-origin: center center;
}

.console-button:hover {
  background-color: #ffa800;
}

.rotated {
  transform: rotate(180deg);
}

#consolemain {
  display: block;
  padding: 40px 10px;

}

#consolemain textarea {
  display: block;
  width: 100%;
  height: 40%;
  border: none;
  padding: 20px;
}

#consolemain h3 {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  background-color: lightgray;
  color: white;
  margin-top: 30px;
}

.console-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border: none;
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 200ms ease;
  background-color: darkgray;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.console-btn:hover {
  background-color: #ffa800;
}

#files {
  position: absolute;
  display: block;
  width: 100%;
  height: 36px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

#dummyload {
  position: absolute;
  margin-top: 0px;

}

#dummyload-div {
  position: relative;
  display: block;
  height: 41px;
}

.page  {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 26px;
  z-index: 9;
  /* height: 100%; */

  width: calc( 100vw - 10px);
  background-color: #647c8c;
}

header {
  position: relative;
  width: auto;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;

}

header div {
  margin-right: 30px;
}

header button {
  margin-right: 15px;
  border: none;
  padding: 5px 10px;
  background-color: #ffa800;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

header button:hover {
  background-color: #ffc14a;
}

content {
  position: relative;
  display: block;
  width: 100%;
  /* height: 90vh; */
  height: calc( 100vh - 85px );
  background-color: lightgray;
  overflow: scroll;
}



#gantarea {
  display: inline-block;
  min-width: 120vw;
  min-height: 120vh;
  transform-origin: left top;
  transition: all 300ms ease-in-out;
  padding: 50px 10px 10px 10px;
  background-color: lightgray;
  z-index: 10;
}

#gantarea h3 {
  display: inline-block;
  font-size: 15px;
}

.gant-all-bars {
  position: absolute;
  left: 10px;
  top: 50px;
}

.gant-bar-tools {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 12;
}

.add-task-btn {
  background-color: rgba(172, 172, 172, 0.53);
  border: none;
  height: 4px;
  outline: none;
}

.add-task-btn:hover {
  background-color: #ffa800;
}
.add-task-btn:active {
  outline: none;
}


.gant-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #0f86c9;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  z-index: 12;
}

.gant-bar:hover {
  background-color: #26a9f2;
}

.gant-grid {
  position: sticky;
  left: 0;
  top: 0px;
  margin-top: -50px;
  width: 100%;
  height: calc( 100vh - 120px );
  z-index: 10;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.grid-column {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  border-left: solid 1px darkgray;
  transition: all 300ms ease-in-out;
}

.grid-column:hover {
  background-color: #ede3ce;
}

.griddate {
  font-size: 12px;
}

.current-week {
  border-left: solid 2px red;
  background-color: rgba(255, 193, 74, 0.46);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 200px;
  top: 200px;
  border-radius: 5px;
  z-index: 100;
  min-width: 0px;
  max-width: 60vw;
  min-height: 0px;
  max-height: 600px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  color: white;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 2px 15px black;
  transition: none;
}

.modal input[type="text"] {
  text-align: right;
  padding: 4px;
  border: none;
  margin-bottom: 5px;
  width: 100%;
}

.modal h2 {
  font-size: 14px;
  font-weight: normal;
  background-color: darkorange;
  width: 120%;
  margin-left: -10%;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 10px;
}

.modal h3 {
  cursor: move;
  font-size: 14px;
  font-weight: normal;
  background-color: darkorange;
  width: 120%;
  margin-left: -10%;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
}

.info-box {
  left: 30%;
  top: calc( 50% - 300px );
  /*transform: translate(-50%, -50%);*/
}

.btn-shift {
  background-color: #1897de;
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}

.btn-shift:hover {
  background-color: #ffc14a;
}

.btn-wrapper {
  display: flex;
  padding: 4px;
}


.is-closed {
  transform: translateX(calc( -1 * 100% + 26px ));
}

.is-hidden {
  display: none;
}


/* css for map View boxes */

.full-page-view {
  position: relative;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: radial-gradient(white, lightgray)
}

#mapGantArea {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 10px;
  padding-top: 20px;
  pointer-events: none;
}

#mapGantGrid {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
  z-index: 5;
  background-color: transparent;
}

.map-gant-grid-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  border-right: 1px solid darkgray;
  font-size: 100%;
  color: darkgray;
}

.map-past-week {
  background-color: rgba(100,100,100,0.1);
  border-right: 1px solid white;
  color: white;

}

.map-current-week {
  background-color: rgba(100,100,100,0.1);
  border-right: 1px solid red;
  color: red;
}

.map-col-marked {
  background-color: rgba(200,100,100,0.1);
  /*border-right: 1px solid black;*/
}

.map-col-marked button {
  color: red;
}

.fw-btn {
  background: none;
  border: none;
}

.map-gant-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  
}



.mapView-milestone {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #ffa800;
  border-radius: 3px;
  box-shadow: 0 3px 5px darkgray;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  overflow: visible;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: auto;
}

.mapView-task {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #0f86c9;
  border-radius: 3px;
  box-shadow: 0 3px 5px darkgray;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  overflow: visible;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: auto;

}

.mapView-task:hover,
.mapView-milestone:hover {
  box-shadow: 0 3px 5px black;
}

.mapView-linked {
  background-color: #0fc9b3;
}

.map-after-task {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 5px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.mapBar-in-text {
  /*color: #252525;*/
  font-size: 14px;

}
.mapBar-out-text {
  font-size: 14px;
  color: #252525;
}


.text-center {
  text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.selected-div {
  border: solid 2px green;
}